{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "istanbul"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "react"
      ],
      "plugins": []
    }
  }
}
