// Many variables...
$tinyPad: 4px;
$medPad: 8px;
$bigPad: 24px;
$viewportPad: 0;
$line-height: 1.3;
$fluid-radius: 0.3em;
$button-padding: 0.2em 0.5em;
$major-button-padding: 0.75em 1em;
$max-app-width: 850px;

$bg-color: white;

$sm-title-font-size: 24px;
$md-title-font-size: $sm-title-font-size;
$lg-title-font-size: $md-title-font-size;

$flixpress-red: #b70000;
$flixpress-blue: #018cB7;
$alt-color: $flixpress-blue;
$body-color: #dadada;
$base-font-size: 16px;

// Image sizes
$xs-image: 7;
$sm-image: 9;
$md-image: 19;
$lg-image: 22;

// DNN Fusion breakpoints
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs-only: (0 767px);

// override breakpoints
$lg: 1000px;
$md: 670px;
$sm: 400px;
$xs-only: (0 399px);
