@import 'base-includes';

.ReactModalPortal {
  @extend %base-container-styles;
  display: none;
}

body.ReactModal__Body--open {
  overflow: hidden;
  
  .ReactModalPortal {
    display: block;
  }
}

.group, .clearfix {
  @include pie-clearfix;
}
