@import 'base-includes';

.ReactModalPortal {
  @extend %base-container-styles;
  display: none;
}

body.ReactModal__Body--open {
  overflow: hidden;
  
  .ReactModalPortal {
    display: block;
  }
}

.ReactTabs {
  .ReactTabs__Tab {
    border: 1px solid $flixpress-blue;
    background-color: transparent;
    display: inline-block;
    margin: $tinyPad;
    padding: $button-padding;
    border-radius: $fluid-radius;
    cursor: pointer;
    color: $flixpress-blue;
    
    &.ReactTabs__Tab--selected, &:hover {
      background-color: $flixpress-blue;
      color: white;
    }
  }
    
  h2 {
    @include fw-bars;
  }
}

.group, .clearfix {
  @include pie-clearfix;
}
