@import "../styles/base-includes";

#editor .reactBasicTemplateEditor-ColorPicker {
  @extend %input-component;
  
  > label {
    @extend %label;
  }
}
.reactBasicTemplateEditor-ColorPicker-swatch {
  @extend %input;
  
  padding: 3px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  vertical-align: sub;
  min-width: 36px;
}

.reactBasicTemplateEditor-ColorPicker-swatchColor {
  height: 1em;
  border-radius: 3px;
}
