@import "../styles/base-includes";

.reactBasicTemplateEditor-ColumnScroller {
  @include breakpoint($md) {
    %column {
      width: 49%;
      float: left;
      margin: 15px 0.5% 0;
    }
    &-column {
      @extend %column;
      padding-right: $viewportPad / 2;
    }

    &-column:last-child {
      @extend %column;
      padding-left: $viewportPad / 2;
      // Make room for image
      margin-top: $medPad + iH($md-image);
    }

    &-column:last-child { // just for fixed pos
      position: fixed;
      max-width: ($max-app-width * .49); // getting 49% from above
      margin-left: ($max-app-width * .51);
    }
  }
}