@import "../styles/common-components";

.reactBasicTemplateEditor-Confirm-button {
  @extend %button;
}

.reactBasicTemplateEditor-Confirm {
  @extend %confirm-modal;

  p {
    margin-top: 1.5em
  }

  .buttons {
    text-align: center;

    button {
      margin: ($bigPad * 2) $medPad;
    }
  }

}

.reactBasicTemplateEditor-Confirm-overlay {
  @extend %confirm-overlay;
}
