@import "../styles/base-includes";

.reactBasicTemplateEditor-ImageContainer {
  border: 1px solid green;
  padding: 1em;
}

.reactBasicTemplateEditor-ImageContainer-imageListItem {
  @include clearfix;
  background-color: rgba(150,150,150,0.5);
  padding: 10px;
}

.reactBasicTemplateEditor-ImageContainer-imageListItemDragHandle {
  float: right;
  transform: rotate(90deg);

}