@import "../styles/base-includes";

.reactBasicTemplateEditor-PreviewImage-modalCloseButton {
  @extend %button;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.reactBasicTemplateEditor-PreviewImage-modalExplain {
  text-align: center;
}

.reactBasicTemplateEditor-PreviewImage-modalImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.reactBasicTemplateEditor-PreviewImage-mainImageMessage {
  text-align: center;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: iW($sm-image) * 0.09;
}

.reactBasicTemplateEditor-PreviewImage-mainImage {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: iW($xs-image);
  height: iH($xs-image);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: $tinyPad;
  
  &.missing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darken($flixpress-blue, 10);
    
    .reactBasicTemplateEditor-PreviewImage-mainImageMessage,
    &:hover .reactBasicTemplateEditor-PreviewImage-mainImageMessage {
      color: white;
    }
  }
  
  
  &:hover .reactBasicTemplateEditor-PreviewImage-mainImageMessage {
    color: $flixpress-blue;
  }
  
  @include breakpoint($sm) {
    width: iW($sm-image);
    height: iH($sm-image);
  }
  
  @include breakpoint($md) {
    position: absolute;
    width: iW($md-image);
    height: iH($md-image);
    @include sides(auto);
    top: $bigPad;
    right: 25%;
    transform: translateX(50%);
    z-index: 0;
  }
}
