@import "../styles/base-includes";

.reactBasicTemplateEditor-ResolutionPicker {
  text-align: center;
  background-color: #eee;
  margin: 10px auto;
}

.reactBasicTemplateEditor-ResolutionPicker-title {
  @extend %component-title;
}


.reactBasicTemplateEditor-ResolutionPicker-radioGroup {
  padding: 10px;
  font-weight: bold;
  color: #555;

  .radio {
    margin-left:10px;
  }
}
