@import "../styles/base-includes";

.reactBasicTemplateEditor-ResolutionPicker {
  text-align: center;
    background-color:#bbbbbb;
  margin:10px auto 10px auto;
  
}

.reactBasicTemplateEditor-ResolutionPicker-title {
  @extend %component-title;
}

.reactBasicTemplateEditor-ResolutionPicker-explain {
  @extend %explanation-text;
  font-size: 12px;
  padding:10px;
}

.reactBasicTemplateEditor-ResolutionPicker-RadioGroup {
  padding:10px;
}