@import "../styles/_common-components";

.reactBasicTemplateEditor-SpecFields-sectionTitle {
  @extend %component-title;
  background-color: #777;
  color: #eee;
  font-size: 0.75em;
  font-weight: bold;
}

.reactBasicTemplateEditor-SpecFields-section {
  margin-bottom: 20px;
  background-color: #efefef;
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;

  @include breakpoint($sm) {
    margin-right: 0;
  }

  @include breakpoint($md) {
    margin-right: 5px;
  }
}
